glammy/.htaccess
glammy/app/etc/local.xml
glammy/cron.php
glammy/cron.sh
glammy/downloader
glammy/errors/
glammy/includes
glammy/index.php
glammy/index.php.sample
glammy/install.php
glammy/LICENSE*
glammy/media 
glammy/php.ini.sample
glammy/RELEASE_NOTES.txt
glammy/robots.txt
glammy/var
